[user]
  email = brodieG@users.noreply.github.com
  name = brodieG
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = /Users/sadao/.gitignore_global
[color]
	ui = true
[alias]
	lg = log --pretty=format:\"%C(auto)%h %<(55,trunc)%s %C(blue) %<(6,trunc)%cd%C(auto)%d%Creset\" --graph --date=relative
        ad = !git add -u && git reset -- *.rds
        wdiff = diff --word-diff=color
[pull]
	rebase = false
